
 <!---------------------navigation-bar----------------------------->


 <!-- <header class="header-wrapper">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">
              logo
              <i class="fi fi-sr-briefcase"></i>
          </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            
            <i class="fas fa-stream navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse justify-content-end mt-4" id="navbarNav">
            <ul class="navbar-nav menu-navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/products" >Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolio">Gallary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#uikits">Add to cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
              
              <li class="nav-item mt-3 mt-lg-0">
                <a class="main-btn" href="#contact">Login</a>
              </li>

              
              
            </ul>
          </div>
        </div>
      </nav>
</header>
 -->




 <nav class = "navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top">
  <div class = "container">
      <a class = "navbar-brand d-flex justify-content-between align-items-center order-lg-0" href = "index.html">
          <img src = "../../assets/images/shopping-bag-icon.png" alt = "site icon">
          <span class = "text-uppercase fw-lighter ms-2">Closet Rewind</span>
      </a>

      <div class = "order-lg-2 nav-btns">
          <button type = "button" class = "btn position-relative">
              <i class = "fa fa-shopping-cart"></i>
              <span class = "position-absolute top-0 start-100 translate-middle badge bg-primary">2</span>
          </button>
          <button type = "button" class = "btn position-relative">
              <i class = "fa fa-heart"></i>
              <span class = "position-absolute top-0 start-100 translate-middle badge bg-primary">5</span>
          </button>
          <button type = "button" class = "btn position-relative">
              <i class = "fa fa-search"></i>
          </button>
      </div>

      <button class = "navbar-toggler border-0" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
          <span class = "navbar-toggler-icon"></span>
      </button>

      <div class = "collapse navbar-collapse order-lg-1" id = "navMenu">
          <ul class = "navbar-nav mx-auto text-center">
              <li class = "nav-item px-2 py-2">
                  <a class = "nav-link text-uppercase text-dark" href = "#header">home</a>
              </li>
              <li class = "nav-item px-2 py-2">
                  <a class = "nav-link text-uppercase text-dark" routerLink="collection">collection</a>
              </li>
              <li class = "nav-item px-2 py-2">
                  <a class = "nav-link text-uppercase text-dark" routerLink="special">specials</a>
              </li>
              <li class = "nav-item px-2 py-2">
                  <a class = "nav-link text-uppercase text-dark" href = "#blogs">blogs</a>
              </li>
              <li class = "nav-item px-2 py-2">
                  <a class = "nav-link text-uppercase text-dark" href = "#about">about us</a>
              </li>
              
              <li class = "nav-item px-2 py-2 border-0">
                <a class = "nav-link text-uppercase text-dark" routerLink="add-to-cart">Add to Cart</a>
            </li>
          </ul>
      </div>
  </div>
</nav>
<!-- end of navbar -->
