<br><br><br><br><br><br><br><br>


    <div class = "container ">
        <div class = "title text-center">
            <h2 class = "position-relative d-inline-block">New Collection</h2>
        </div>


        <div class = "row g-0">


            <div class = "collection-list mt-4 row gx-0 gy-3">
                <div class = "col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class = "collection-img position-relative">
                        <img src = "../../assets/images/c_formal_gray_shirt.png" class = "w-100">
                        <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center"><a style="color:#ffff ;" href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
                    </div>
                    <div class = "text-center">
                        <div class = "rating mt-3">
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class = "text-capitalize my-1">gray shirt</p>
                        <span class = "fw-bold">$ 45.50</span>
                        
                    </div>
                </div>
            
                <div class = "col-md-6 col-lg-4 col-xl-3 p-2 feat">
                    <div class = "collection-img position-relative">
                        <img src = "../../assets/images/c_pant_girl.png" class = "w-100">
                        <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center"><a style="color:#ffff ;" href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
                        
                    </div>
                    <div class = "text-center">
                        <div class = "rating mt-3">
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class = "text-capitalize my-1">gray shirt</p>
                        <span class = "fw-bold">$ 45.50</span>
                        
                    </div>
                </div>
            
                <div class = "col-md-6 col-lg-4 col-xl-3 p-2 new">
                    <div class = "collection-img position-relative">
                        <img src = "../../assets/images/c_polo-shirt.png" class = "w-100">
                        <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center"><a style="color:#ffff ;" href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
                    </div>
                    <div class = "text-center">
                        <div class = "rating mt-3">
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class = "text-capitalize my-1">gray shirt</p>
                        <span class = "fw-bold">$ 45.50</span>
                        
                    </div>
                </div>
            
                <div class = "col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class = "collection-img position-relative">
                        <img src = "../../assets/images/c_shirt-girl.png" class = "w-100">
                        <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center"><a style="color:#ffff ;" href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
                    </div>
                    <div class = "text-center">
                        <div class = "rating mt-3">
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class = "text-capitalize my-1">gray shirt</p>
                        <span class = "fw-bold">$ 45.50</span>
                        
                    </div>
                </div>
            
                <div class = "col-md-6 col-lg-4 col-xl-3 p-2 feat">
                    <div class = "collection-img position-relative">
                        <img src = "../../assets/images/c_t-shirt_men.png" class = "w-100">
                        <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center"><a style="color:#ffff ;" href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
                    </div>
                    <div class = "text-center">
                        <div class = "rating mt-3">
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class = "text-capitalize my-1">gray shirt</p>
                        <span class = "fw-bold">$ 45.50</span>
                        
                    </div>
                </div>
            
                <div class = "col-md-6 col-lg-4 col-xl-3 p-2 new">
                    <div class = "collection-img position-relative">
                        <img src = "../../assets/images/c_tunic-shirt_girl.png" class = "w-100">
                        <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center"><a style="color:#ffff ;" href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
                    </div>
                    <div class = "text-center">
                        <div class = "rating mt-3">
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class = "text-capitalize my-1">gray shirt</p>
                        <span class = "fw-bold">$ 45.50</span>
                        
                    </div>
                </div>
            
                <div class = "col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class = "collection-img position-relative">
                        <img src = "../../assets/images/c_undershirt.png" class = "w-100">
                        <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center"><a style="color:#ffff ;" href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
                    </div>
                    <div class = "text-center">
                        <div class = "rating mt-3">
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class = "text-capitalize my-1">gray shirt</p>
                        <span class = "fw-bold">$ 45.50</span>
                        

                    </div>
                </div>
            
                <div class = "col-md-6 col-lg-4 col-xl-3 p-2 feat">
                    <div class = "collection-img position-relative">
                        <img src = "../../assets/images/c_western-shirt.png" class = "w-100">
                        <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center"><a style="color:#ffff ;" href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
                    </div>
                    <div class = "text-center">
                        <div class = "rating mt-3">
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                            <span class = "text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class = "text-capitalize my-1">gray shirt</p>
                        <span class = "fw-bold">$ 45.50</span>
                        
                    </div>
                </div>
              </div>
            
           
        </div>


  